<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon size="large" name="menu"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<br><br>

<ion-content class="ion-padding">
  <ion-text class="ion-text-center" color="dark">
    <h1>Ironing</h1>
  </ion-text>

  <ion-text class="ion-text-center">
    <p>Hire a person that best fits for this job.</p>
  </ion-text>

  <ion-card>
      <ion-card-header>
      </ion-card-header>
    <ion-item>
      <ion-text color="primary">
      <p> <ion-icon name="star-half"></ion-icon> 5.0
      </p>
    </ion-text>
      <ion-item slot="start">
        
        <ion-avatar>
          <img src="https://www.jumpstarttech.com/files/2018/08/Network-Profile.png">
        </ion-avatar>
        <ion-text>
          <p>  Lewis Doe</p>
        </ion-text>
      </ion-item>

        <ion-button size="small" fill="solid" slot="end">Hire</ion-button>
    
    </ion-item>

    <ion-card-content>
     I am an expert in Ironing clothes. I can do laundry as well and other washing services.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
    </ion-card-header>
  <ion-item>
    <ion-text color="primary">
      <p> <ion-icon name="star-half"></ion-icon> 4.0
      </p>
    </ion-text>
    <ion-item slot="start">
      <ion-avatar>
        <img src="https://www.jumpstarttech.com/files/2018/08/Network-Profile.png">
      </ion-avatar>
      <ion-text>
        <p>  Smoke Will</p>
      </ion-text>
    </ion-item>

      <ion-button size="small" fill="solid" slot="end">Hire</ion-button>
  
  </ion-item>

  <ion-card-content>
   I am an expert in Ironing clothes. I can do laundry as well and other washing services.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
  </ion-card-header>
<ion-item>
  <ion-text color="primary">
    <p> <ion-icon name="star-half"></ion-icon> 4.5
    </p>
  </ion-text>
  <ion-item slot="start">
    <ion-avatar>
      <img src="https://www.jumpstarttech.com/files/2018/08/Network-Profile.png">
    </ion-avatar>
    <ion-text>
      <p>  Jarvis Leo</p>
    </ion-text>
  </ion-item>

    <ion-button size="small" fill="solid" slot="end">Hire</ion-button>

</ion-item>

<ion-card-content>
 I am an expert in Ironing clothes. I can do laundry as well and other washing services.
</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
  </ion-card-header>
<ion-item>
  <ion-text color="primary">
    <p> <ion-icon name="star-half"></ion-icon> 3.0
    </p>
  </ion-text>
  <ion-item slot="start">
    <ion-avatar>
      <img src="https://www.jumpstarttech.com/files/2018/08/Network-Profile.png">
    </ion-avatar>
    <ion-text>
      <p>  Emma Wilsom</p>
    </ion-text>
  </ion-item>

    <ion-button size="small" fill="solid" slot="end">Hire</ion-button>

</ion-item>

<ion-card-content>
 I am an expert in Ironing clothes. I can do laundry as well and other washing services.
</ion-card-content>
</ion-card>

</ion-content>

<ion-footer>
  <ion-icon  size="large" color="primary" padding="30%" name="home"></ion-icon>
  <ion-icon size="large" color="primary"  padding="30%" name="text"></ion-icon>
  <ion-icon  size="large" color="primary" padding="30%" name="notifications"></ion-icon>
</ion-footer>