<br>
<ion-icon margin="20%" name="arrow-round-back"> </ion-icon>
<ion-content class="ion-padding">
  <ion-text class="ion-text-center" color="dark">
    <h1>Profile</h1>
  </ion-text>

  

<!-- Profile picture-->

<div class="card">
  <div class="header">
  <div class="avatar">
      <img src="https://www.jumpstarttech.com/files/2018/08/Network-Profile.png" alt="">
    </div>
  </div>
</div>

<div class="card-body">
  <div class="user-meta ion-text-center">
    <h3 class="playername">Johny Sam</h3>
    <h5 class="country"> <ion-icon name="pin"></ion-icon> England</h5>
    <h6 class="ranking">Verified Buyer </h6>
    <ion-text color="warning">
    <h6 > <ion-icon name="star-half"></ion-icon> 5.0
    <ion-chip>
      <ion-label>42</ion-label>
    </ion-chip>
  </h6>
</ion-text>
  </div>
  
  <ion-button color="primary">View Requests</ion-button>
  <ion-button color="primary">View Reviews</ion-button>

  <ion-card>

    <ion-card-content>
      <h6>Monte Carlo:</h6>
      Had an excellent experience with this buyer. I would really love to work for him again.
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-content>
      <h6>Harry William:</h6>
      Had an excellent experience with this buyer. I would really love to work for him again.
    </ion-card-content>
  </ion-card>

<ion-footer>
  <ion-icon  size="large" color="primary" padding="30%" name="home"></ion-icon>
  <ion-icon size="large" color="primary"  padding="30%" name="text"></ion-icon>
  <ion-icon size="large" color="primary" padding="30%" name="notifications"></ion-icon>
</ion-footer>