<br>
<ion-icon margin="20%" name="arrow-round-back"> </ion-icon>
<ion-content class="ion-padding">
  <h2 margin="0 auto">
    Account Settings:
  </h2>

  
<!-- Profile picture-->
<div class="card">
  <div class="header">
    <div class="avatar">
      <img src="https://www.jumpstarttech.com/files/2018/08/Network-Profile.png" alt="">
    </div>
  </div>
</div>

<div class="card-body">
  <div class="user-meta ion-text-center">
    <h3 class="playername">John Doe</h3>
    </div>
    </div>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input type="text" placeholder="Name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
          <ion-item>
            <ion-input type="email" placeholder="Email"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item>
              <ion-input type="password" placeholder="Password"></ion-input>
            </ion-item>
          </ion-col>
    </ion-row>
    <h5 margin="10%">Verify your CNIC:</h5>
  <ion-input type="file" color="primary"></ion-input>

  <ion-footer>
    <ion-icon size="large" color="primary" padding="15%" name="home"></ion-icon>
    <ion-icon size="large" color="primary" padding="30%" name="text"></ion-icon>
    <ion-icon  size="large" color="primary" padding="30%"  name="notifications"></ion-icon>
  </ion-footer>