<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="" icon="arrow-back" color="dark">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text class="ion-text-center" color="dark">
    <h1>Make your offer</h1>
  </ion-text>

  <ion-card>
    <ion-item>
      <ion-item slot="start">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-text>
          <p>Jane Doe</p>
        </ion-text>
      </ion-item>

      <ion-item slot="end">
        <ion-text>5000 PKR<br> Monthly</ion-text>
      </ion-item>
    </ion-item>

    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element. <br>
      <p>
        <ion-icon name="add"></ion-icon>
        Cooking
      </p>
    </ion-card-content>

  </ion-card>

  <!-- Textarea in an item with a placeholder -->
  <ion-item>
    <ion-textarea placeholder="Why hire you?" rows="6" cols="20"></ion-textarea>
  </ion-item>

  <br><br><br><br>

  <ion-item>
    <ion-label position="floating">Date</ion-label>
    <br>
    <ion-input type="Date"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Time</ion-label>
    <br>
    <ion-input type="Time"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Charges</ion-label>
    <br>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-select placeholder="/Month">
      <ion-select-option value="f">Month</ion-select-option>
      <ion-select-option value="m">Hour</ion-select-option>
    </ion-select>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-icon padding="30%" name="home"></ion-icon>
  <ion-icon padding="30%" name="text"></ion-icon>
  <ion-icon padding="30%" name="notifications"></ion-icon>
</ion-footer>