<ion-header>
 
</ion-header>

<ion-content>
  <br><br><br>
  <ion-text class="ion-text-center" color="dark">
    <h1>Make An Offer to Jane:</h1>
  </ion-text>
  
  <ion-card>
  <ion-item>

    <ion-textarea placeholder="Description...">
      <br><br><br>
    </ion-textarea>
  </ion-item>
</ion-card>



  <ion-item>
    <ion-label>Choose a category</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Ironing</ion-select-option>
      <ion-select-option value="m">Cleaning</ion-select-option>
      <ion-select-option value="m">Driving</ion-select-option>
      <ion-select-option value="m">Baby Sitting</ion-select-option>
      <ion-select-option value="m">Nursing</ion-select-option>
    </ion-select>
  </ion-item>
 <br><br>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-input type="date"></ion-input>
  </ion-item>
<br><br>
  <ion-item>
    <ion-label>Time</ion-label>
    <ion-input type="Time"></ion-input>
  </ion-item>
<br><br>
  <ion-item>
    <ion-label>Address</ion-label>
    <ion-input></ion-input>
  </ion-item>
<br><br>
  <ion-item>
    <ion-label>Budget</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <br><br>

  <ion-button color="primary" expand="block" fill="solid">Submit your Request</ion-button>
  
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-icon class="ion-float-left" color="primary" size="large" name="home"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div  style="margin: 0 auto">
          <ion-icon   color="primary"  size="large"  name="text"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-icon class="ion-float-right"color="primary"size="large" name="notifications"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
 

  
 
</ion-footer>
 
  

