<ion-content class="ion-padding">
  <br><br><br><br><br><br><br><br>
  <ion-text color="dark">
    <h1>Enter Account Info</h1>
  </ion-text>

  <ion-text color="dark">
    <h5>Enter 4 digit verification code just sent to your phone</h5>
  </ion-text>
  <br><br><br>
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-input type="text" placeholder="Name"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12">
        <ion-item>
          <ion-input type="email" placeholder="Email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
          <ion-item>
            <ion-input type="password" placeholder="Password"></ion-input>
          </ion-item>
        </ion-col>
  </ion-row>
  <br><br>
  <ion-button size="large" expand="block" [routerLink]="['/auth/choice']">Join</ion-button>
  <ion-button size="small" expand="block" [routerLink]="['/auth/login']">Already a member? Login</ion-button>