<ion-content>

  <ion-item>
    <ion-img src="../../../assets/icon/tick.png"></ion-img>
    <br>
    <ion-text class="ion-text-center" color="dark">
        <h1>Appointment Confirmed</h1>
      </ion-text>
  </ion-item>


  <ion-card>
    <ion-item>
      <ion-item slot="start">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-text>
          <p>Jane Doe</p>
        </ion-text>
      </ion-item>

      <ion-item slot="end">
        <ion-text>5000 PKR<br> Monthly</ion-text>
      </ion-item>
    </ion-item>

    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element. <br>
      <p>
        <ion-icon name="add"></ion-icon>
        Cooking
      </p>
    </ion-card-content>

  </ion-card>

  <!-- Textarea in an item with a placeholder -->
  <ion-item>
    <ion-textarea placeholder="Let her know what you think" rows="6" cols="20"></ion-textarea>
  </ion-item>

  <br><br><br><br>


  <ion-button size="medium" [routerLink]="['/auth/step2']">Accept</ion-button>
  <ion-button size="medium" [routerLink]="['/auth/step1']">Decline</ion-button>
  <ion-button size="large" expand="block" [routerLink]="['/auth']">Contact</ion-button>

</ion-content>
<ion-footer>
  <ion-icon padding="30%" name="home"></ion-icon>
  <ion-icon padding="30%" name="text"></ion-icon>
  <ion-icon padding="30%" name="notifications"></ion-icon>
</ion-footer>