<br>
<ion-icon margin="20%" name="arrow-round-back"> </ion-icon>
<ion-content class="ion-padding">
  <h2 margin="0 auto">
    Profile:
  </h2>

  

<!-- Profile picture-->

<div class="card">
  <div class="header">
  <div class="avatar">
      <img src="https://www.jumpstarttech.com/files/2018/08/Network-Profile.png" alt="">
    </div>
  </div>
</div>

<div class="card-body">
  <div class="user-meta ion-text-center">
    <h3 class="playername">John Doe</h3>
    <h5 class="country"> <ion-icon name="pin"></ion-icon> Switzerland</h5>
    <h6 class="ranking">Top Rated Seller </h6>
    <h6 color="warning"> <ion-icon name="star-half"></ion-icon> 5.0
    <ion-chip>
      <ion-label>42</ion-label>
    </ion-chip>
  </h6>
  </div>
  <h5 padding="20%">John works on the following categories:</h5>
  <ion-button expand="block" color="primary">Ironing</ion-button>
  <ion-button expand="block" color="secondary">Cooking</ion-button>
  <ion-button expand="block" color="warning">Driving</ion-button>
</div>

<ion-footer>
  <ion-icon  size="large" color="primary" padding="30%" name="home"></ion-icon>
  <ion-icon size="large" color="primary"  padding="30%" name="text"></ion-icon>
  <ion-icon  size="large" color="primary" padding="30%" name="notifications"></ion-icon>
</ion-footer>