<ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-text class="ion-text-center" color="dark">
    <h1>Home</h1>
  </ion-text>
  <!--Domestic services-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Domestic Services</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card color="primary">
        <ion-card-content>Ironing</ion-card-content>
      </ion-card>

      <ion-card color="secondary">
        <ion-card-content>Cleaning</ion-card-content>
      </ion-card>

      <ion-card color="success">
        <ion-card-content>Washing</ion-card-content>
      </ion-card>

    </ion-card-content>
  </ion-card>

  <!--proffessional services-->
  <ion-card  >
    <ion-card-header>
      <ion-card-title>Professional Services</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card color="danger">
        <ion-card-content>Makeup</ion-card-content>
      </ion-card>

      <ion-card color="warning">
        <ion-card-content>Nursing</ion-card-content>
      </ion-card>

      <ion-card color="secondary">
        <ion-card-content>Baby Sitting</ion-card-content>
      </ion-card>

    </ion-card-content>
  </ion-card>

  <ion-button color="primary" expand="block" fill="solid">Make a Custom Request</ion-button>
  
  

</ion-content>

<ion-footer>
  <ion-icon color="primary" size="large" padding="30%" name="home"></ion-icon>
  <ion-icon color="primary"  size="large" padding="30%" name="text"></ion-icon>
  <ion-icon color="primary"  size="large" padding="30%" name="notifications"></ion-icon>
</ion-footer>